* {
  font-family: "Lobster", cursive;
}

body {
  background-color: #7395ae;
}

h1 {
  color: #2e4c61;
  font-size: 5vw; 
  text-align: center;
  margin-top: 8px; 
}

h2, footer {
  color: #2e4c61;
  font-size: 3vw;
  margin-top: 2%;
  text-align: center;
}

.container-fluid {
  text-align: center;
}

.col {
  padding: 0 5% 0 5%; 
}

#cup1, #cup2 {
  width: 10vw;
  visibility: hidden;
}

@media (max-width: 500px) {
  * {
    font-size: 80%;
  }
}

@media (max-width: 1055px) {
  .container-fluid #player1, .container-fluid #player2 {
    width: 65vw; 
}

@media (min-width: 1800px) {
  h1 {
    margin-top: 5%;
  }
  .container-fluid #player1, .container-fluid #player2 {
    width: 65vw; 
  }
}
